.chartContainer {
    background-color: hsl(185, 39%, 87%);
    border: 8px solid hsl(194, 51%, 80%);
    border-radius: 30px;
    box-shadow: 10px 10px 10px hsl(0, 0%, 10%, 0.1);
    padding: 30px;
    margin: 20px;    
    text-align: center;
    display: inline-block;
}
